<div class="page_wrap" id="about">

  <div id="nav_partial">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Background', static_pages_background_path %></li>
      <li class="active_page_top"><%= link_to 'About', static_pages_about_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
    </ul>
    <%= image_tag("dami_logo.png", :alt => "dami logo", :class => "img-responsive center-block dami_logo") %>
  </div>

  <div class="container">

    <div class="row content_margin_top">

      <div class="col-md-6">
        <div class="about_bio">
          <%= image_tag("mary.png", :alt => "Mary") %>
          <div class="about_bio_name">
            Mary Kay Henry
          </div>
          <div class="about_border"></div>

          <div class = "about_bio_descrip justify">

            <p>Mary Kay Henry serves as International President of the Service Employees International Union (SEIU), the fastest-growing union in North American with 2 million members in healthcare, public, and property services. She also serves as a trustee of SEIU's benefit funds with over $2 billion in assets. </p>
            <p>Henry joined SEIU staff in 1979, rising to become chief healthcare strategist and International Executive Vice President in 2004.  She led the union's efforts to win a stronger voice for healthcare workers and enact historic healthcare reforms.  In 2010, Henry was unanimously elected International President.</p>
            <p>Henry sits on the boards of the Economic Policy Institute, American Income Life, Fresh Thinking, and is an advisory member of the National Catholic Scholars for Worker Justice.  She also serves on the Change to Win Leadership Council and is a founding member of SEIU's gay and lesbian Lavender Caucus.  Henry previously served on the executive board of Families USA and was a labor adviser to the U.S. Catholic Conference of Bishops.</p>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about_bio">
          <%= image_tag("william.png", :alt => "William") %>
          <div class="about_bio_name">
            William A. Von Hoene, Jr.
          </div>
          <div class="about_border"></div>

          <div class = "about_bio_descrip justify">
            <p>As Senior Executive Vice President and Chief Strategy Officer, William Von Hoene oversees corporate development, corporate strategy, legal, regulatory, government affairs, investments and communications for Exelon Corporation, the nation's number one competitive energy provider.  He previously served as executive vice president, Finance and Legal, of Exelon. Von Hoene joined Exelon in February, 2002 and has held numerous positions before assuming his current responsibilities in February 2012.  He serves on Exelon's Executive Committee and is a member of the Boards of Directors of Nuclear Electric Insurance Limited, the Alliance to Save Energy, and the United Way of Metropolitan Chicago.  He also serves on the Board of Advisors of Flying Food Group and is the Chairman and Chief Executive Officer of Constellation Energy Nuclear Group, a joint venture between Exelon and EDF which owns five nuclear units.</p>
            <p>Prior to joining Exelon, Von Hoene was a senior partner at Jenner & Block, specializing in complex civil and white-collar criminal litigation.  While at Jenner & Block, he served on the management committee and, at various times, as hiring partner and chairperson of the firm's pro bono and diversity committees. </p>
          </div>
        </div>
      </div>

    </div><!-- row -->

    <div class="row">

      <div class="col-md-6">
        <div class="about_bio">
          <%= image_tag("alberto.png", :alt => "Albert") %>
          <div class="about_bio_name">
            Alberto Ibargüen
          </div>
          <div class="about_border"></div>

          <div class = "about_bio_descrip justify">

            <p>Alberto Ibargüen is president, CEO and a trustee of the John S. and James L. Knight Foundation. </p>
            <p>He is the former publisher of The Miami Herald and El Nuevo Herald. During his tenure, The Miami Herald won three Pulitzer Prizes and El Nuevo Herald won Spain's Ortega y Gasset Prize for excellence in journalimd.</p>
            <p>He studied at Wesleyan University and the University of Pennsylvania Law School. Between college and law school, he served in the Peace Corps in Venezuela's Amazon Territory and was the Peace Corps Programming and Training Officer in Colombia, based in Bogotá.  After law school, he practiced law in Hartford, Conn., until he joined The Hartford Courant, then Newsday in New York, before moving to Miami.</p>
            <p>He is a former chair of the World Wide Web Foundation, founded by Web inventor Sir Tim Berners¬-Lee to promote a free and universal Web.  Over time, he has served on the boards of arts, education and journalimd organizations, including the Lincoln Center for the Performing Arts, Wesleyan University and Smith College.  He is trustee emeritus of the Newseum in Washington, D.C., where he served as board chair.  He also chaired the board of PBS and served on the boards of the Council on Foreign Relations, the Committee to Protect Journalists and ProPublica.</p>
            <p>Ibargüen is a member of the boards of PepsiCo and American Airlines.</p>
            <p>He is a member of MIT's Visiting Committee for the Media Lab.  In 2015, he was elected a fellow of the American Academy of Arts & Sciences.  For his work to protect journalists in Latin America, Ibargüen received a Maria Moors Cabot citation from Columbia University.  Wesleyan University, The George Washington University, University of Miami, Mercer University and Stephens College have awarded him honorary degrees.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about_bio">
          <%= image_tag("john.png", :alt => "John Rodgers") %>
          <div class="about_bio_name">
            John W. Rogers, Jr.
          </div>
          <div class="about_border"></div>

          <div class = "about_bio_descrip justify">

            <p>John Rogers is the Chairman, CEO and Chief Investment Officer of Arial Investments.  Rogers' passion for investing began at age 12, when his father began buying him stocks as Christmas and birthday gifts. His interest in equities grew at Princeton University, where he majored in economics, and over the two-plus years he worked as a stockbroker for William Blair & Company, LLC. In 1983, Rogers founded Ariel Investments to employ a patient, value strategy in small and medium-size companies. </p>
            <p>He strongly believes in giving back to Chicago, sitting on the corporate boards of Exelon and McDonald's, and serving as trustee to the University of Chicago.  Nationally, Rogers is a member of the American Academy of Arts and Sciences, and a director of the Robert F. Kennedy Center for Justice and Human Rights. In 2008, he was awarded Princeton University's highest honor, the Woodrow Wilson Award, presented each year to the alumnus whose career embodies a commitment to national service. Following the election of President Barack Obama, Rogers served as co-chair for the Presidential Inaugural Committee 2009. In 2013, Rogers was featured alongside legendary investors Warren Buffett, Sir John Templeton and Benjamin Graham in the distinguished book: <span class="italic">The World's 99 Greatest Investors</span> by Magnus Angenfelt.  Rogers received an AB in economics from Princeton University, where he was also captain of the varsity basketball team. </p>
          </div>
        </div>
      </div>



    </div><!-- row -->

  </div><!-- container -->

  <div class="about_staff">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="about_staff_title">
            STAFF
          </div>
          <div class="about_border"></div>
        </div><!-- col-xs-12 -->
      </div><!-- row -->

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="light_blue_circle"></div>
          <div class="about_staff_title">
            Robert Raben
          </div>
          <div class="margin_center about_staff_descrip">
            <p>DAMI Director</p>
            <p>President and Founder, The Raben Group</p>
            <p><%= mail_to "robertraben@rabengroup.com", "robertraben@rabengroup.com" %></p>
            <p>202-466-8585</p>
          </div>
        </div><!-- col-xs-12 col-sm-4 -->

        <div class="col-xs-12 col-sm-4">
          <div class="light_blue_circle"></div>
          <div class="about_staff_title">
            Samara Foxx
          </div>
          <div class="margin_center about_staff_descrip">
            <p>DAMI Co-Director</p>
            <p>Principal, The Raben Group</p>
            <p><%= mail_to "sfoxx@rabengroup.com", "sfoxx@rabengroup.com" %></p>
            <p>202-466-8585</p>
          </div>
        </div><!-- col-xs-12 col-sm-4 -->

        <div class="col-xs-12 col-sm-4">
          <div class="light_blue_circle"></div>
          <div class="about_staff_title">
            Rory Verrett
          </div>
          <div class="margin_center about_staff_descrip">
            <p>DAMI Co-Director</p>
            <p>Principal, The Raben Group</p>
            <p><%= mail_to "rverrett@rabengroup.com", "rverrett@rabengroup.com" %></p>
            <p>202-466-8585</p>
          </div>
        </div><!-- col-xs-12 -->
      </div><!-- row -->

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="light_blue_circle"></div>
          <div class="about_staff_title">
            Simon Greer
          </div>
          <div class="margin_center about_staff_descrip">
            <p>DAMI Strategic Advisor</p>
            <p>Cambridge Heath Ventures</p>
            <p><%= mail_to "simongreer68@gmail.com", "simongreer68@gmail.com" %></p>
            <p>347-284-8036</p>
          </div>
        </div><!-- col-xs-12 col-sm-4 -->

        <div class="col-xs-12 col-sm-4">
          <div class="light_blue_circle"></div>
          <div class="about_staff_title">
            Anthony Perez
          </div>
          <div class="margin_center about_staff_descrip">
            <p>Director, The Raben Group</p>
            <p><%= mail_to "aperez@rabengroup.com", "aperez@rabengroup.com" %></p>
            <p>213-236-3754</p>
          </div>
        </div><!-- col-xs-12 col-sm-4 -->

        <div class="col-xs-12 col-sm-4">
          <div class="light_blue_circle"></div>
          <div class="about_staff_title">
            Justin Wilson
          </div>
          <div class="margin_center about_staff_descrip">
            <p>Senior Associate, The Raben Group</p>
            <p><%= mail_to "Jwilson@rabengroup.com", "Jwilson@rabengroup.com" %></p>
            <p>202-466-8585</p>
          </div>
        </div><!-- col-xs-12 -->
      </div><!-- row -->

    </div><!-- container -->
  </div><!-- about_staff -->


</div><!-- page_wrap -->

<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs nav-bottom" >
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Background', static_pages_background_path %></li>
      <li class="active_page_bottom"><%= link_to 'About', static_pages_about_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
