<div class="page_wrap light_blue" id="background">

  <div id="nav_partial">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active_page_top"><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
      <li><%= link_to 'News', static_pages_news_path %></li>
    </ul>
    <%= render "email_banner" %>
    <%= image_tag("dami_logo.png", :alt => "dami logo", :class => "img-responsive center-block dami_logo") %>
  </div>

  <div class="background_padding_top">

    <div class="container">

      <div class="row content_margin_top">
        <div class="col-xs-12">
          <div class="font_size_thirty_six bold" >
            BACKGROUND
          </div>
          <div class="border"></div>

          <p class="font_size_twenty_one twenty_px_margin">
            This initiative is an effort to increase the absolute number of, and assets under management by, diverse-owned asset management firms for institutional investors, with specific focus on public, corporate, faith and labor union pension funds as well as foundation and university endowments.
          </p>

          <p class="font_size_twenty_one twenty_px_margin">
            We are a consortium of financial services professionals, institutional investors, corporate and philanthropic board members and trade associations committed to raising awareness among institutional investors about the benefits and opportunities of investing funds with diverse-owned asset management firms.
          </p>

          <p class="font_size_twenty_one twenty_px_margin">
            Our <strong>Honorary Co-Chairs</strong> are: <strong>Mary Kay Henry</strong>, International President of Service Employees International Union; <strong>Alberto Ibargüen</strong>, President and CEO of the Knight Foundation; <strong>John W. Rogers, Jr.</strong>, Chairman, CEO & Chief Investment Officer of Ariel Investments; and <strong>William A. Von Hoene, Jr.</strong>, Senior Executive Vice President and Chief Strategy Officer of Exelon Corporation.
          </p>

        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- background -->

  <div class="dark_blue background_padding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="font_size_thirty_six bold" >
            WHY
          </div>
          <div class="border"></div>

          <p class="font_size_twenty_one">
            Diverse asset managers are severely underrepresented among the managers hired by institutional investors.  Studies demonstrate that funds managed by diverse asset managers often yield greater performance results for their clients than the broader market.  While there is a critical mass of high performing diverse asset managers, there is an inadequate demand for their services.
          </p>

          <ul>
            <li><p class="font_size_eighteen twenty_px_margin">
              We know that board Members and C-Suite executives play a critical role in providing direction on who should manage their institution’s assets and capital.
            </li></p>

            <li><p class="font_size_eighteen twenty_px_margin">
              We know that, externally, investment consultants play a key role in linking institutional investors to asset managers.
            </li></p>

            <li><p class="font_size_eighteen twenty_px_margin">
              We know that there is a need to increase the number of policies at the state and federal level to ensure diverse asset managers have a greater opportunity to participate in the management of public funds.
            </li></p>
          </ul>

        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- why -->


  <div class="light_blue background_padding">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="font_size_thirty_six bold" >
            HOW
          </div>
          <div class="border"></div>

          <p class="font_size_twenty_one twenty_px_margin">
            The initiative will focus on educating and raising awareness with key decision makers at public, corporate, faith and labor union pension funds as well as foundation and university endowments about the supply of high performing, diverse asset managers. We will share studies about the inadequate demand for diverse asset managers by institutional investors despite the number of existing high performers. We will urge the decision makers to proactively address the barriers that prevent them from diversifying the set of managers overseeing their funds.
          </p>

          <p class="font_size_twenty_one twenty_px_margin">
            The initiative will partner with investment consultants to educate them about the opportunity to diversify existing pools of investment managers that they recommend to their institutional clients and help them to meet their fiduciary responsibilities to their clients. Finally, we will market, network and connect the high-performing world of diverse asset managers with the more traditional investing community.
          </p>


        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- how -->

  <div class="dark_blue background_padding">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="font_size_thirty_six bold" >
            GOAL
          </div>
          <div class="border"></div>

          <p class="font_size_twenty_one twenty_px_margin">
            The goal of the initiative is to build a vibrant, coordinated effort to change the culture of the financial services industry as it relates to asset managers. Success will be achieved when there is common knowledge in the industry of the existence of numerous, high performing diverse-owned asset management firms and when they are valued and seamlessly considered by institutional investors. The measurement of success will be the increased use of diverse asset managers by institutional investors and the amount of assets under their management.
          </p>


        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- goal -->

  <div class="lighter_blue background_padding">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="font_size_thirty_six margin_center bold" >
            <a href="/pdf/DAMI_OnePager_April.pdf" download="DAMI Background", class="no_text_decoration">
              <i class="fa fa-file-pdf-o fa-3x"></i>
            </a>
          </div>
          <div class="about_border"></div>
          <a href="/pdf/DAMI_OnePager_April.pdf" download="DAMI_OnePager_April.pdf" class="no_text_decoration">
            <div class="font_size_thirty_six margin_center">
              Click Here to Download DAMI Overview
            </div>
          </a>
        </a>
      </div><!-- col-xs-12 -->
    </div><!-- row -->
  </div><!-- container -->

</div><!-- download -->


</div><!-- page_wrap -->


<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs nav-bottom" >
      <li><%= link_to 'Home', root_path %></li>
      <li class="active_page_bottom"><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
      <li><%= link_to 'News', static_pages_news_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
