<div class="page_wrap">

  <div class="row" id="nav_partial">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Background', static_pages_background_path %></li>
      <li><%= link_to 'About', static_pages_about_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li class="active_page_top"><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
    </ul>
  </div>

  <div class="container">
    <div class="row" id="action">
      <div class="col-lg-12">
        <h2>Illustrative Metrics<h2>
        </div>
      </div>
    </div>
  </div><!-- container -->

</div><!-- page_wrap -->

<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs" >
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Background', static_pages_background_path %></li>
      <li><%= link_to 'About', static_pages_about_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li class="active_page_bottom"><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
