<div class="page_wrap" id="fiduciary_guide">

  <%= render 'layouts/header' %>

  <!-- ======================================================= -->

  <div class="dami_fg_container container">

    <div class="dami_fg_row row content_margin_top">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="article-title">
          Fiduciary Guide to Investing to Diverse Asset Managers and Firms
        </div>
        <div class="about_border"></div>
      </div><!-- col-xs-12 -->
    </div><!-- row -->

    <div class="dami_fg_row row">

  <!-- ======================================================= -->

      <div class="dami_fg_col light_blue
                  col-lg-8 
                  col-md-8 
                  col-sm-8 
                  col-xs-12">
          <section class="dami_fg_section">        
            <h3>
              Who is this Guide for?
            </h3>
            <div class="border"></div>
            <p class="dami_fg_p">
              This guide is designed for institutional investors (trustees and staff) who are interested in exploring the possibilities of investing institutional assets with diverse-owned asset management firms.
            </p>
            <p class="dami_fg_p"> 
              The 7 Steps featured are the result of interviews with institutional investors who are seen as leaders in this arena and are meant to follow the common trajectory experienced by institutions undergoing the process of moving to investing with diverse managers.
            </p>
            <p class="dami_fg_p">             
              We hope this guide will address your key questions and uncertainties in order to allow you to confidently take leadership on this issue within your institution.
            </p>
          </section>
          <section> 
            <h3>
              How to Use this Guide
            </h3>
            <div class="border"></div>
            <p class="dami_fg_p">
              This guide is not meant to be read cover to cover (although feel free to do so if you wish). Rather, pull out the steps or questions that are most relevant to you and your institution.
            </p>
            <p class="dami_fg_p">              
              Additionally, the Case Studies and Common FAQs are good handouts to adapt and share with other trustees and staff of your institution to help make your case.
            </p>
          </section>          
      </div>

  <!-- ======================================================= -->

      <div class="dami_fg_col light_blue
                  col-lg-4 
                  col-md-4 
                  col-sm-4 
                  col-xs-12">
        <a href="/pdf/DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf">          
          <img src="/images/DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.png" />
        </a>

      </div> 

  <!-- ======================================================= -->

      <div class="dami_fg_col light_blue
                  col-lg-8 col-md-12 col-sm-12 col-xs-12" style="display: none;">
          <h3>
            How to Use this Guide
          </h3>
          <div class="border"></div>
          <p class="dami_fg_p">
            This guide is not meant to be read cover to cover (although feel free to do so if you wish). Rather, pull out the steps or questions that are most relevant to you and your institution.
          </p>
          <p class="dami_fg_p">              
            Additionally, the Case Studies and Common FAQs are good handouts to adapt and share with other trustees and staff of your institution to help make your case.
          </p>
      </div>

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Full Fiduciary Guide
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..1
                case i
                  when 0
                    @dami_fg_link_path  = "DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Electronic)"
                  when 1
                    @dami_fg_link_path  = "DAMI-Fiduciary-Guide-PRINT-FILES.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Print)"
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Introduction
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..0
                case i
                  when 0
                    @dami_fg_link_path  = "Section 1 Fulfilling Your Fiduciary Obligations_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Fulfilling Your Fiduciary Obligations: How a Commitment to Diversity Can Generate Better Returns"  
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            7 Steps to Investing with Diverse Asset Managers and Firms
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..6 
                case i
                  when 0
                    @dami_fg_link_path  = "Step 1_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 1: Understanding the Current State of Your Institution"  
                  when 1
                    @dami_fg_link_path  = "Step 2_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 2: Building Support from Trustee, Board, and Staff Leadership"  
                  when 2
                    @dami_fg_link_path  = "Step 3_ DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 3: Creating a Clear Mission and Commitment to Investing with Diverse Managers"  
                  when 3
                    @dami_fg_link_path  = "Step 4_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 4: Sourcing Qualified Diverse Managers and Firms"  
                  when 4
                    @dami_fg_link_path  = "Step 5_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 5: Working with Investment Consultants"  
                  when 5
                    @dami_fg_link_path  = "Step 6_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 6: Ensuring Accountability 30 "  
                  when 6
                    @dami_fg_link_path  = "Step 7_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step 7: Sharing Your Success and Experience "  
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Step #: Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div>      

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Frequently Asked Questions 
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..0
                case i
                  when 0
                    @dami_fg_link_path  = "Common FAQ_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Common FAQ"  
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Case Studies
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..4 
                case i
                  when 0
                    @dami_fg_link_path  = "Case Studies All_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "All Case Studies"                    
                  when 1
                    @dami_fg_link_path  = "Case Study-Knight Foundation_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "John S. and James L. Knight Foundation "  
                  when 2
                    @dami_fg_link_path  = "Case Study-NYC Comptroller's Office.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "New York City Comptroller’s Office"  
                  when 3
                    @dami_fg_link_path  = "Case Study-Exelon Corporation_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Exelon Corporation "  
                  when 4
                    @dami_fg_link_path  = "Case Study-IL State_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "State of Illinois"  
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Appendix
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..5
                case i
                  when 0
                    @dami_fg_link_path  = "Appendix All_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Appendix All"  
                  when 1
                    @dami_fg_link_path  = "Appendix 1_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Appendix 1: Template Memo from Trustee to CIO on the Current State of Institutional Diversity"  
                  when 2
                    @dami_fg_link_path  = "Appendix 2_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Appendix 2: Template Investment Policy"  
                  when 3
                    @dami_fg_link_path  = "Appendix 3_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Appendix 3: Template Memo from Board of Trustees/CIO to Investment Staff/Consultant on Sourcing Qualified Minority Managers"  
                  when 4
                    @dami_fg_link_path  = "Appendix 4_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Appendix 4: Template Memo from Board of Trustees/CIO to Investment Consultant on Internal Consultant Firm Diversity and Asset Manager Diversity"
                  when 5
                    @dami_fg_link_path  = "Appendix 5_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Appendix 5: Sample Social Media Kit"    
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>
         
      </div>       

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Endnotes
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..0
                case i
                  when 0
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Endnotes"  
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            Bibliography
          </h3>
          <div class="border"></div>

          <ul class="media-list">
            <% for i in 0..0
                case i
                  when 0
                    @dami_fg_link_path  = "Bibliography_DAMI Fid Guide.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Bibliography"  
                  else
                    @dami_fg_link_path  = "filename.pdf"
                    @dami_fg_link_icon  = "fa-file-pdf-o"
                    @dami_fg_link_name  = "Name of the Document"  
                end  
            %>
            <li class="media">
              <a href="/pdf/<%= @dami_fg_link_path %>">
                <div class="media-left">
                  <i class="fa <%= @dami_fg_link_icon %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= @dami_fg_link_name %>
                  </h4>
                  <p>
                    <%= @dami_fg_link_path %>
                  </p>
                </div>
              </a>
            </li>
            <% end %>
          </ul>

      </div> 

  <!-- ======================================================= -->

    </div> <!-- row -->

  </div><!-- container -->

  <!-- ======================================================= -->

</div><!-- page_wrap -->
