  <!-- ======================================================= -->

<%
  def dami_fg_func_links(txt_sectionTitle, arr_linkList)
      %>

      <!-- ======================================================= -->

      <div class="dami_fg_col dark_blue
                  col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>
            <%= txt_sectionTitle %>
          </h3>
          <div class="border"></div>

          <ul class="media-list">

            <% arr_linkList.each do |p| %>

            <li class="media">
              <a href="/pdf/<%= p['dami_fg_link_path'] %>">
                <div class="media-left">
                  <i class="fa <%= p['dami_fg_link_icon'] %> fa-3x"></i>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <%= p['dami_fg_link_name'] %>
                  </h4>
                  <p>
                    <%= p['dami_fg_link_path'] %>
                  </p>
                </div>
              </a>
            </li>

            <% end %>

          </ul>

      </div> 

      <!-- ======================================================= -->

      <%
  end
%>

  <!-- ======================================================= -->

<%
  def dami_fg_func_sections(arr_sectionLinkListData)

    arr_sectionLinkListData.each do |p| 
      dami_fg_func_links(p['dami_fg_txt_sectionTitle'], p['dami_fg_arr_linkList'])
    end

  end
%>

  <!-- ======================================================= -->

<div class="page_wrap" id="fiduciary_guide">

  <%= render 'layouts/header' %>

  <!-- ======================================================= -->

  <div class="dami_fg_container container">

    <div class="dami_fg_row row content_margin_top">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="article-title">
          Fiduciary Guide to Investing to Diverse Asset Managers and Firms
        </div>
        <div class="about_border"></div>
      </div><!-- col-xs-12 -->
    </div><!-- row -->

    <div class="dami_fg_row row">

  <!-- ======================================================= -->

      <div class="dami_fg_col light_blue
                  col-lg-8 
                  col-md-8 
                  col-sm-8 
                  col-xs-12">
          <section class="dami_fg_section">        
            <h3>
              Who is this Guide for?
            </h3>
            <div class="border"></div>
            <p class="dami_fg_p">
              This guide is designed for institutional investors (trustees and staff) who are interested in exploring the possibilities of investing institutional assets with diverse-owned asset management firms.
            </p>
            <p class="dami_fg_p"> 
              The 7 Steps featured are the result of interviews with institutional investors who are seen as leaders in this arena and are meant to follow the common trajectory experienced by institutions undergoing the process of moving to investing with diverse managers.
            </p>
            <p class="dami_fg_p">             
              We hope this guide will address your key questions and uncertainties in order to allow you to confidently take leadership on this issue within your institution.
            </p>
          </section>
          <section> 
            <h3>
              How to Use this Guide
            </h3>
            <div class="border"></div>
            <p class="dami_fg_p">
              This guide is not meant to be read cover to cover (although feel free to do so if you wish). Rather, pull out the steps or questions that are most relevant to you and your institution.
            </p>
            <p class="dami_fg_p">              
              Additionally, the Case Studies and Common FAQs are good handouts to adapt and share with other trustees and staff of your institution to help make your case.
            </p>
          </section>          
      </div>

  <!-- ======================================================= -->

      <div class="dami_fg_col light_blue
                  col-lg-4 
                  col-md-4 
                  col-sm-4 
                  col-xs-12">
        <a href="#" data-toggle="modal" data-target="#dami_fg_modal"> <!--  href="/pdf/DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf">    -->      
          <img src="/images/DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.png" />
        </a>

      </div> 

  <!-- ======================================================= -->

<%
@dami_fg_txt_sectionLinkListData =
[
  {
    "dami_fg_txt_sectionTitle"=>"Full Fiduciary Guide",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Electronic)"},
      { "dami_fg_link_path"=>"DAMI-Fiduciary-Guide-PRINT-FILES.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Print)"}
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"Introduction",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"Section 1 Fulfilling Your Fiduciary Obligations_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Fulfilling Your Fiduciary Obligations: How a Commitment to Diversity Can Generate Better Returns"}
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"7 Steps to Investing with Diverse Asset Managers and Firms",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"Step 1_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 1: Understanding the Current State of Your Institution" },
      { "dami_fg_link_path"=>"Step 2_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 2: Building Support from Trustee, Board, and Staff Leadership" },
      { "dami_fg_link_path"=>"Step 3_ DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 3: Creating a Clear Mission and Commitment to Investing with Diverse Managers"  },
      { "dami_fg_link_path"=>"Step 4_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 4: Sourcing Qualified Diverse Managers and Firms" },
      { "dami_fg_link_path"=>"Step 5_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 5: Working with Investment Consultants" },
      { "dami_fg_link_path"=>"Step 6_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 6: Ensuring Accountability 30 " },
      { "dami_fg_link_path"=>"Step 7_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Step 7: Sharing Your Success and Experience " } 
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"Frequently Asked Questions",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"Common FAQ_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Common FAQ"}
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"Case Studies",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"Case Studies All_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"All Case Studies" },
      { "dami_fg_link_path"=>"Case Study-Knight Foundation_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"John S. and James L. Knight Foundation " },
      { "dami_fg_link_path"=>"Case Study-NYC Comptroller's Office.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"New York City Comptroller’s Office" },
      { "dami_fg_link_path"=>"Case Study-Exelon Corporation_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Exelon Corporation" },
      { "dami_fg_link_path"=>"Case Study-IL State_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"State of Illinois"} 
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"Appendix",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"Appendix All_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Appendix All" },
      { "dami_fg_link_path"=>"Appendix 1_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Appendix 1: Template Memo from Trustee to CIO on the Current State of Institutional Diversity" },
      { "dami_fg_link_path"=>"Appendix 2_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Appendix 2: Template Investment Policy" },
      { "dami_fg_link_path"=>"Appendix 3_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Appendix 3: Template Memo from Board of Trustees/CIO to Investment Staff/Consultant on Sourcing Qualified Minority Managers" },
      { "dami_fg_link_path"=>"Appendix 4_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Appendix 4: Template Memo from Board of Trustees/CIO to Investment Consultant on Internal Consultant Firm Diversity and Asset Manager Diversity" },
      { "dami_fg_link_path"=>"Appendix 5_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Appendix 5: Sample Social Media Kit" }  
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"Endnotes",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Fiduciary Guide to Investing to Diverse Asset Managers and Firms (Electronic)"}
    ]
  },
  {
    "dami_fg_txt_sectionTitle"=>"Bibliography",
    "dami_fg_arr_linkList"=>
    [
      { "dami_fg_link_path"=>"Bibliography_DAMI Fid Guide.pdf", 
        "dami_fg_link_icon"=>"fa-file-pdf-o", 
        "dami_fg_link_name"=>"Bibliography"}
    ]
  }     
]

dami_fg_func_sections(@dami_fg_txt_sectionLinkListData)

%>

  <!-- ======================================================= -->

    </div> <!-- row -->

  </div><!-- container -->

  <!-- ======================================================= -->

<!-- Modal -->
<div class="modal fade" id="dami_fg_modal" tabindex="-1" role="dialog" aria-labelledby="dami_fg_ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="dami_fg_ModalLabel">Fiduciary Guide Preview</h4>-->
      </div>
      <div class="modal-body" id="dami_fg_pdfdoc">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/pdf/DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf';">Download</button>
      </div>
    </div>
  </div>
</div>

<script>PDFObject.embed("/pdf/DAMI-Fiduciary-Guide-FINAL-ELECTRONIC-VERSION.pdf", "#dami_fg_pdfdoc");</script>

<style>
  .pdfobject-container { height: 500px;}
  .pdfobject { border: 1px solid #666; }
</style>

  <!-- ======================================================= -->

  <!-- child of the body tag -->
  <span id="top-link-block" class="hidden">
      <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
          <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
      </a>
  </span><!-- /top-link-block -->

  <script>
  // Only enable if the document has a long scroll bar
  // Note the window height + offset
  if ( ($(window).height() + 100) < $(document).height() ) {
      $('#top-link-block').removeClass('hidden').affix({
          // how far to scroll down before link "slides" into view
          offset: {top:100}
      });
  }
  </script>

  <!-- ======================================================= -->

</div><!-- page_wrap -->


