<div class="page_wrap">

  <div class="header">
    <div class="logo_bar">
      <%= image_tag("dami_logo.png", :alt => "dami logo", :class => "img-responsive") %>
    </div><!-- logo_bar -->
  </div><!-- header -->


  <div class="highlight">
    <div class="overlay">
      <nav>
        <ul>
          <li class="active"><%= link_to "Home", root_path  %></li>
          <li><%= link_to 'About Us', static_pages_about_us_path %></li>
          <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
          <li><%= link_to 'Principles', static_pages_principles_path %></li>
          <li><%= link_to 'Action', static_pages_action_path %></li>
          <li><%= link_to 'Studies', static_pages_studies_path %></li>
          <li><%= link_to 'Resources', static_pages_resources_path %></li>
          <li><%= link_to 'Partners', static_pages_partners_path %></li>
        </ul>
      </nav>
    </div><!-- overlay -->
  </div><!-- highlight -->


  <div class="highlight_text">
    <p class="quote">
      The Diverse Asset Managers Initiative (DAMI) is an effort to increase the absolute number of, and assets under management by, diverse-owned asset management firms for institutional investors, with specific focus on public, corporate, faith and labor union pension funds as well as foundation and university endowments.
    </p>
  </div>

  <div>
    <ul id="navigation" class="nav nav-tabs" >
      <li class="active_page_top"><%= link_to 'Home', root_path  %></li>
      <li><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
      <%= image_tag("dami_logo.png", :alt => "dami logo", :class => "img-responsive center-block dami_logo_home") %>
    </ul>
  </div>


  <div class="who">
    <%= render "email_banner" %>

    <div class="content_block">
      <div class="sub_content_block">
        <div class="sub_title"><h3>Who We Are</h3></div>
        <div class="border"></div>

        <p>
          We are a consortium of financial services professionals, institutional investors, corporate and philanthropic board members and trade associations committed to raising awareness among institutional investors about the benefits and opportunities of investing funds with diverse asset managers.
        </p>

        <p>
          Our Honorary Co-Chairs are:
        </p>
      </div><!-- sub_content_block -->

      <div class="bio_pic">
        <div class="row">

          <div class="col-xs-6 col-md-3 bio_pic_img">
            <%= image_tag("mary.png", :alt => "Mary") %>
            <div class="font_size_twenty_one">
              Mary Kay Henry
            </div>
            <div class = "font_size_sixteen">
              International President of Service Employees International Union;
            </div>
          </div><div class="col-xs-6 col-md-3 bio_pic_img">
            <%= image_tag("alberto.png", :alt => "Albert") %>
            <div class="font_size_twenty_one">
              Alberto Ibargüen
            </div>
            <div class = "font_size_sixteen">
              President and CEO of the Knight Foundation
            </div>
          </div><div class="col-xs-6 col-md-3 bio_pic_img">
            <%= image_tag("john.png", :alt => "John Rodgers") %>
            <div class="font_size_twenty_one">
              John W. Rogers, Jr.
            </div>
            <div class = "font_size_sixteen">
              Chairman, CEO & Chief Investment Officer of Ariel Investments
            </div>
          </div><div class="col-xs-6 col-md-3 bio_pic_img">
            <%= image_tag("william.png", :alt => "William") %>
            <div class="font_size_twenty_one">
              William A. Von Hoene, Jr.
            </div>
            <div class = "font_size_sixteen">
              Senior Executive Vice President and Chief Strategy Officer of Exelon Corporation.
            </div>
          </div>
        </div>
      </div><!-- bio_pic -->

    </div><!-- content_block -->
  </div>

  <div class="why">
    <div class="content_block">
      <div class="sub_content_block">
        <div class="sub_title"><h3>Why</h3></div>
        <div class="border"></div>

        <p>
          Diverse asset managers are severely underrepresented among the managers hired by institutional investors. Studies demonstrate that funds managed by diverse asset managers often yield greater performance results for their clients than the broader market. While there is a critical mass of high performing diverse asset managers, there is an inadequate demand for their services.
        </p>

      </div><!-- sub_content_block -->

      <div class="why_pics">
        <div class="row">

          <div class="col-xs-12 col-sm-4 why_pic_block">
            <div class="blue_circle"></div>
            <div class = "font_size_sixteen">
              We know that board Members and C-Suite executives play a critical role in providing direction on who should manage their institution’s assets and capital.
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 why_pic_block">
            <div class="blue_circle"></div>
            <div class = "font_size_sixteen">
              We know that, externally, investment consultants play a key role in linking institutional investors to asset managers.
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 why_pic_block">
            <div class="blue_circle"></div>
            <div class = "font_size_sixteen">
              We know that there is a need to increase the number of policies at the state and federal level to ensure diverse asset managers have a greater opportunity to participate in the management of public funds.
            </div>
          </div>

        </div><!-- row -->
      </div><!-- why_pics -->

    </div><!-- content_block -->
  </div><!-- why -->


  <div class="how">
    <div class="content_block">
      <div class="sub_content_block">
        <div class="sub_title"><h3>How</h3></div>
        <div class="border"></div>

        <p>
          The initiative will focus on educating and raising awareness with key decision makers at public, corporate, faith and labor union pension funds as well as foundation and university endowments about the supply of high performing, diverse asset managers. We will share studies about the inadequate demand for diverse asset managers by institutional investors despite the number of existing high performers. We will urge the decision makers to proactively address the barriers that prevent them from diversifying the set of managers overseeing their funds.
        </p>

        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <p>
              The initiative will partner with investment consultants to educate them about the opportunity to diversify existing pools of investment managers that they recommend to their institutional clients and help them to meet their fiduciary responsibilities to their clients. Finally, we will market, network and connect the high- performing world of diverse asset managers with the more traditional investing community.
            </p>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="blue_square"></div>
            Caption example text: If we wanted some sort of caption, it could appear like this.
          </div>
        </div>

      </div><!-- sub_content_block -->
    </div><!-- content_block -->
  </div><!-- how -->

  <div class="goal">
    <div class="content_block">
      <div class="sub_content_block">
        <div class="sub_title"><h3>Goal</h3></div>
        <div class="border"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <p>
              The goal of the initiative is to build a vibrant, coordinated effort to change the culture of the financial services industry as it relates to asset managers. Success will be achieved when there is common knowledge in the industry of the existence of numerous, high performing diverse asset managers and when they are valued and seamlessly considered by institutional investors. The measurement of success will be the increased use of diverse asset managers by institutional investors and the amount of assets under their management.
            </p>
          </div>

          <div class="col-xs-12 col-sm-4">
            <video width="320" height="240" controls="controls">
                  <source src="/videos/BillVonHoene.mp4"/>
             Your browser does not support the video tag.
            </video>
            Caption example text: If we wanted some sort of caption, it could appear like this.
          </div>
        </div>

      </div><!-- sub_content_block -->
    </div><!-- content_block -->
  </div><!-- how -->


</div><!-- row -->

</div><!-- page_wrap -->


<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs nav-bottom" >
      <li class="active_page_bottom"><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
