<div class="row" id="nav_partial">
  <%= render "email_banner" %>

  <ul class="nav nav-tabs">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
    <li><%= link_to 'Principles',  static_pages_principles_path %></li>
    <li><%= link_to 'Action', static_pages_action_path %></li>
    <li><%= link_to 'Studies', static_pages_studies_path %></li>
    <li><%= link_to 'Resources', static_pages_resources_path %></li>
    <li><%= link_to 'Partners', static_pages_partners_path %></li>
  </ul>
</div>

<div class="container">
  <div class="row" id="issues">
    <div class="col-lg-12">
      <h1>Issues Page</h1>
      <p>Need text</p>
    </div>
  </div>
</div>
