<div class="page_wrap"  id="news">

  <%= render 'layouts/header' %>

  <div class="container">
    <div class="row content_margin_top ">
      <div class="col-xs-12">
        <div class="font_size_thirty_six margin_center">
          In the News
        </div>
        <div class="about_border"></div>



        <%= link_to pdf_path(title:"DAMI_on_New_Report_Highlighting_Lack_of_Diversity_in_Financial_Services_Industry") , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-file-pdf-o fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              DAMI on New Report Highlighting Lack of Diversity in Financial Services Industry
            </div>
            <div class="font_size_eighteen">
              By Nery Espinosa
            </div>
          </div>
        </div>
        <% end %>


        <%= link_to "http://www.chicagobusiness.com/article/20160817/NEWS01/160819885/diversity-pressed-for-illinois-pension-managers" , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-globe fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              Diversity pressed for Illinois pension managers
            </div>
            <div class="font_size_eighteen">
              By Lynne Marek
            </div>
          </div>
        </div>
        <% end %>


        <%= link_to pdf_path(title:"DAMI_NCLS_Press Release 8 9 16") , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-file-pdf-o fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              State, City Representatives and Union Leaders Hold Session to Encourage State and Public Fund Investment with Diverse Asset Managers at the National Conference of State Legislatures Legislative Summit
            </div>
            <div class="font_size_eighteen">
              By Nery Espinosa
            </div>
          </div>
        </div>
        <% end %>



        <%= link_to pdf_path(title:"DAMI REMARKS - DIVERSITY HEARINGS (8 10 16)") , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-file-pdf-o fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              DAMI Remarks: State of Illinois Diversity Hearings
            </div>
            <div class="font_size_eighteen">
              By JENNA WEINBERG
            </div>
          </div>
        </div>
        <% end %>



        <%= link_to "http://www.pionline.com/article/20160418/PRINT/304189993/group-advocates-for-diverse-money-managers" , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-globe fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              Group Advocates for Diverse Money Managers
            </div>
            <div class="font_size_eighteen">
              By Rob Kozlowski
            </div>
          </div>
        </div>
        <% end %>

        <%= link_to pdf_path(title:"NAIC-Diverse Asset Managers Initiative Article") , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-file-pdf-o fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              Diverse Asset Managers Initiative Unites Groups to Address
            </div>
            <div class="font_size_eighteen">
              By Alan Hughes of the National Association of Investment Companies
            </div>
          </div>
        </div>
        <% end %>

        <%= link_to pdf_path(title:"Emerging Manager Monthly (April 2016) - DAMI Article") , class:"no_text_decoration news_link" do %>
        <div class="news_link_block">
          <div class="pdf_icon">
            <i class="fa fa-file-pdf-o fa-3x"></i>
          </div>
          <div class="news_headline">
            <div class="font_size_twenty_four">
              New Initiative Seeks To Increase Use of Diverse-Owned Managers
            </div>
            <div class="font_size_eighteen">
              Emerging Manager Monthly
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div><!-- page_wrap -->
