<div class="page_wrap light_blue"  id="partners">

  <%= render 'layouts/header' %>

  <div class="container">
    <div class="row content_margin_top">
      <div class="col-lg-12">
        <div class="font_size_thirty_six margin_center">
          Partners
        </div>
        <div class="about_border"></div>

        <div class="partner">
          <div class="row">


            <div class="col-xs-4">
              <%= link_to "http://garciahamiltonassociates.com/", class:" font_size_twenty_one" do %>
              Garcia Hamilton &amp; Associates, L.P
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://garciahamiltonassociates.com/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "gh_logo.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">


            <div class="col-xs-4">
              <%= link_to "https://www.amalgamatedbank.com/", class:" font_size_twenty_one" do %>
              Amalgamated Bank
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "https://www.amalgamatedbank.com/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "amalgamated_bank.svg"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.afscme.org/", class:" font_size_twenty_one" do %>
              American Federation of State, County and Municipal Employees (AFSCME)
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.afscme.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "afscme.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.aft.org/", class:" font_size_twenty_one" do %>
              American Federation of Teachers (AFT)
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.aft.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "aft.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>





        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.colonialconsulting.com/", class:" font_size_twenty_one" do %>
              Colonial Consulting, LLC
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.colonialconsulting.com/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "colonial_consulting.jpg"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>


        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.exeloncorp.com/", class:" font_size_twenty_one" do %>
              Exelon Corporation
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.exeloncorp.com/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "Exelon.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.knightfoundation.org/", class:" font_size_twenty_one" do %>
              Knight Foundation
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.knightfoundation.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "knight.gif"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://naicpe.com/", class:" font_size_twenty_one" do %>
              National Association of Investment Companies (NAIC)
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://naicpe.com/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "NAIC_refresh_2014.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://rgassociates.org/", class:" font_size_twenty_one" do %>
              RG+associates
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://rgassociates.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "rg+a.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.seiu.org/", class:" font_size_twenty_one" do %>
              Service Employees International Union (SEIU)
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.seiu.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <svg version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="101.6px" height="27px" viewBox="0 0 50.8 13.5" enable-background="new 0 0 50.8 13.5" xml:space="preserve">
                  <defs></defs>
                  <g>
                    <path fill="#FFFFFF" d="M0.3,9.9c1,0.5,2.3,0.9,3.6,0.8c0.7,0,2.1-0.1,2.3-1c0.4-1.6-4.8-2.9-4-6.2C2.5,2,4.3,0.1,8.4,0.1c1.3,0,2.8,0.1,4,0.3l-0.2,3.1c-0.9-0.4-2.2-0.6-3.3-0.6c-0.7,0-2,0.3-2.2,0.9c-0.5,1.9,4.9,2.8,4,6.1c-0.4,1.7-2.4,3.5-6.4,3.6c-1.5,0-2.9-0.2-4.3-0.4L0.3,9.9z">
                    </path>
                    <path fill="#FFFFFF" d="M24,5.2l-0.7,2.8l-6.1,0l-0.6,2.4l7.3-0.1L23.2,13l-11,0.1l3.2-12.9l11-0.1l-0.7,2.8L18.4,3l-0.6,2.3L24,5.2z">
                    </path>
                    <path fill="#FFFFFF" d="M28.7,0.2l4.6,0L30,13.1l-4.6,0L28.7,0.2z">
                    </path>
                    <path fill="#FFFFFF" d="M40.9,0.1L39,7.4c-0.5,1.9-0.1,2.9,1.9,2.9s2.9-1.1,3.4-3L46.2,0l4.6,0l-2.2,8.7c-0.8,3.1-4.1,4.4-8.4,4.4c-4.3,0-7-1.2-6.2-4.3l2.2-8.7L40.9,0.1z">
                    </path>
                  </g>
                </svg>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://siliconvalleycf.org/", class:" font_size_twenty_one" do %>
              Silicon Valley Community Foundation
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://siliconvalleycf.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "silicon_valley.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.seo-usa.org/", class:" font_size_twenty_one" do %>
              Sponsors for Educational Opportunity (SEO)
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.seo-usa.org/", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "seo-usa.jpg"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>


        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.calendow.org", class:" font_size_twenty_one" do %>
              The California Endowment
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.calendow.org", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "ca_endowment_whitebackground.png"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>


        <div class="partner">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "http://www.nea.org", class:" font_size_twenty_one" do %>
              National Education Association
              <% end %>
            </div>
            <div class="col-xs-4">
              <%= link_to "http://www.nea.org", class:" font_size_twenty_one" do %>
              <div class="logo_box">
                <%= image_tag "nea.jpg"%>
              </div>
              <% end %>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

</div><!-- page_wrap -->
