<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row" id="studies">
    <div class="col-xs-12">
      <h1>Partners</h1>

      <h3>Amalgamated Bank</h3>
      <%= link_to "Amalgamated Bank", "https://www.amalgamatedbank.com/" %>

      <h3>Exelon Corporation</h3>
      <%= link_to "Exelon Corporation", "http://www.exeloncorp.com/" %>

      <h3>The Knight Foundation</h3>
      <%= link_to "Knight Foundation", "http://www.knightfoundation.org/" %>

      <h3>Service Employees International Union (SEIU)</h3>
      <%= link_to "Service Employees International Union (SEIU)", "http://www.seiu.org/" %>

    </div>
  </div>
</div>
