<div class="page_wrap" id="principles">

  <div class="row" id="nav_partial">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Background', static_pages_background_path %></li>
      <li><%= link_to 'About', static_pages_about_path %></li>
      <li class="active_page_top"><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
    </ul>
  </div>

  <div class="container">
    <div class="row margin_top_fifty">
      <div class="col-xs-12">
        <div class="font_size_thirty_six margin_center">
          Statement of Principles
        </div>
        <div class="about_border"></div>


        <p class="bullet">We believe that institutional investors from the public, corporate, labor, faith and philanthropic sectors, as fiduciaries, benefit from a diverse portfolio of asset management firms.</p>

        <p class="bullet">Board members and c-suite executives at these institutions play a critical role in providing direction on who should manage their institution’s assets and capital.</p>

        <p class="bullet">Additionally, investment consultants play a key role in linking institutional investors to diverse asset management firms.</p>

        <p class="bullet">We know that there is a need to improve the policies and programs at the state and federal level to ensure diverse asset management firms have a greater opportunity to participate in the management of public funds.</p>

        <p class="bullet">We believe, institutional investors must proactively address the barriers that prevent them from utilizing a diverse set of diverse asset management firms.</p>

        <p class="bullet">We believe success will be achieved when the standard of care in the industry has changed, such that the numerous, high performing diverse asset management firms are valued and seamlessly considered by institutional investors.  The measurement of success will be the increased use of diverse asset management firms by institutional investors and the amount of assets under their management.</p>
      </div>
    </div>
  </div>

</div><!-- page_wrap -->



<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs" >
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Background', static_pages_background_path %></li>
      <li><%= link_to 'About', static_pages_about_path %></li>
      <li class="active_page_bottom"><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
