<div class="page_wrap"  id="studies">

  <div id="nav_partial">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li class="active_page_top"><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
    </ul>
    <%= image_tag("dami_logo.png", :alt => "dami logo", :class => "img-responsive center-block dami_logo") %>
  </div>

  <div class="container">
    <div class="row content_margin_top margin_center">
      <div class="col-xs-12">
        <div class="font_size_thirty_six margin_center">
          Studies
        </div>
        <div class="about_border"></div>

        <div class="font_size_twenty_one">
          Diversity in Asset Management
        </div>

        <a href="/pdf/Silicon_Valley_Community_Foundation_Case_Study_Feb_2014.pdf" download="Silicon_Valley_Community_Foundation_Case_Study_Feb_2014.pdf", class="studies_link"><i class="fa fa-book"></i> Silicon Valley Report</a>
        <a href="/pdf/W.K. Kellogg Foundation Case Study_Sept 2014.pdf" download="W.K. Kellogg Foundation Case Study_Sept 2014.pdf" class="studies_link"><i class="fa fa-book"></i> W.K. Kellogg Foundation Report</a>
        <a href="/pdf/NAIC_KPMG_Report_Sept_2012.pdf" download="NAIC_KPMG_Report_Sept_2012.pdf" class="studies_link"><i class="fa fa-book"></i> NAIC Recognizing The Results</a>

        <div class="font_size_twenty_one">
          Women in Alternative Investments
        </div>
        <a href="/pdf/Barclays_Capital_Solutions_Group_Report_June_2011.pdf" download="Barclays_Capital_Solutions_Group_Report_June_2011.pdf", class="studies_link"><i class="fa fa-book"></i> Barclays Capital Affirmative Investing</a>
        <a href="/pdf/KPMG_Study_Sept_2015.pdf" download="KPMG_Study_Sept_2015.pdf" class="studies_link"><i class="fa fa-book"></i> Managed Funds Report </a>




        <div class="font_size_twenty_one">
          Investment Consultants
        </div>
        <a href="/pdf/Robert_Toigo_Foundation_Survey_June_2004.pdf" download="Robert_Toigo_Foundation_Survey_June_2004.pdf" class="studies_link"><i class="fa fa-book"></i> Toigo Foundation Report </a>

      </div>
    </div>
  </div>
</div><!-- page_wrap -->


<div class="footer">

  <div>
    <ul id="" class="nav nav-tabs nav-bottom" >
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li class="active_page_bottom"><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
