<div class="page_wrap light_blue" id="background">

  <div id="nav_partial">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Home', root_path %></li>
      <li class="active_page_top"><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
      <li><%= link_to 'News', static_pages_news_path %></li>
      <li><%= link_to 'Guide', static_pages_guide_path %></li>
    </ul>
    <%= render "email_banner" %>
    <%= image_tag("dami_logo.png", :alt => "dami logo", :class => "img-responsive center-block dami_logo") %>
  </div>

  <div class="background_padding_top">

    <div class="container">

      <div class="row content_margin_top">
        <div class="col-xs-12">
          <div class="font_size_thirty_six bold" >
            FIDUCIARY GUIDE
          </div>


          <div class="border"></div>

          <div class="press_text">

            <!-- <p class="font_size_twenty_four twenty_px_margin">
              Publications
            </p>
                <%= link_to "http://emergingmanagermonthly.com", class:" font_size_twenty_one white indent" do %>
                  Emerging Manager Monthly
                <% end %> -->

            <p class="font_size_twenty_four twenty_px_margin">
              CONFERENCES
            </p>
                <%= link_to "http://rgassociates.org", class:" font_size_twenty_one white indent" do %>
                  RG + Associates
                <% end %>

                  <br>

                <%= link_to "http://naicpe.com", class:" font_size_twenty_one white indent" do %>
                  National Association of Investment Companies
                <% end %>

                  <br>

                <%= link_to "http://www.nasphq.org", class:" font_size_twenty_one white indent" do %>
                  National Association of Security Professionals
                <% end %>

                  <br>

                <%= link_to "http://www.naaonline.org/16th_wall_street_summit", class:" font_size_twenty_one white indent" do %>
                  New American Alliance
                <% end %>

                  <br>

                <%= link_to "http://event2016.aaaim.org", class:" font_size_twenty_one white indent" do %>
                  Association of Asian American Investment Managers
                <% end %>

                  <br>

                <%= link_to "http://www.rainbowpushwallstreetproject.org", class:" font_size_twenty_one white indent" do %>
                  Rainbow Push Wallstreet Project
                <% end %>

            <p class="font_size_twenty_four twenty_px_margin">
              REFERENCES
            </p>
                <%= link_to "http://files.ctctcdn.com/6a358ed5001/c246928b-e86e-40bd-bc9d-73045ef42287.pdf", class:"  font_size_twenty_one white indent" do %>
                  ABFE’s Directory of Minority and Women-Owned Investment Manager Firms
                <% end %>

                  <br>

                <%= link_to "http://www.blackenterprise.com/lists/be-100s-2015/5", class:" font_size_twenty_one white indent" do %>
                  Black Enterprise Asset Managers and Private Equity Firms Lists 2015
                <% end %>

                  <br>

                <%= link_to "http://goma.maryland.gov/Reports/FY2014_SB606.pdf", class:" font_size_twenty_one white indent" do %>
                  The Use of Minority- and Women-owned Brokerage and Investment Management Firms by the State of Maryland (FY 2014)
                <% end %>

                  <br>

                <%= link_to "https://www.osc.state.ny.us/pension/emerging/2016confbook.pdf", class:" font_size_twenty_one white indent" do %>
                  Office of the New York State Comptroller - Emerging Manager & MWBE Conference Book (February 2016)
                <% end %>





            <div class="press_quote">
                <p class="font_size_twenty_one white indent twenty_px_margin">

                  <%= link_to "https://drive.google.com/open?id=0B2FdRDCuuqhfT0tfSFFPNXMzZzg", class:" font_size_twenty_one white indent" do %>
                    Letter to SEIU Trustees from Mary Kay Henry, SEIU International President (2015)
                  <% end %>

                  <br>

                  <%= link_to "http://www.ilga.gov/legislation/ilcs/fulltext.asp?DocName=004000050K1-109.1", class:" font_size_twenty_one white indent" do %>
                    Illinois full text legislation
                  <% end %>

                  <br>

                  <%= link_to "https://drive.google.com/open?id=0B2FdRDCuuqhfSklaMFZYelM3M0ZXb1FpTkRIZUtYZEE2dURB", class:" font_size_twenty_one white indent" do %>
                      SEIU Pension Fund Consultant Diversity Survey Questions
                  <% end %>

                  <br>

                  <%= link_to "https://drive.google.com/open?id=0B2FdRDCuuqhfc0FzdHpJaWROOW8
", class:" font_size_twenty_one white indent" do %>
                      Diversity Profile
                  <% end %>

                  <br>

                  <%= link_to "https://drive.google.com/open?id=0B2FdRDCuuqhfb2l0Y1A0OWNGbzQ", class:" font_size_twenty_one white indent" do %>
                      NYC Due Diligence Questionnaire
                  <% end %>

                  <br>

                  <%= link_to "https://drive.google.com/open?id=0B2FdRDCuuqhfZnU4ZzlOY2NuaDQ", class:" font_size_twenty_one white indent" do %>
                      Diversity Questionnaire for the State Universities Retirement System of Illinois (SURS)
                  <% end %>

                </p>
            </div>

        </div>

        </div><!-- col-xs-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- background -->



</div><!-- page_wrap -->


<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs nav-bottom" >
      <li><%= link_to 'Home', root_path %></li>
      <li class="active_page_bottom"><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li><%= link_to 'Action', static_pages_action_path %></li>
      <li><%= link_to 'Studies', static_pages_studies_path %></li>
      <li><%= link_to 'Resources', static_pages_resources_path %></li>
      <li><%= link_to 'Partners', static_pages_partners_path %></li>
      <li><%= link_to 'News', static_pages_news_path %></li>
    </ul>
  </div>

  <%= render 'layouts/social' %>

</div>
