<div class="footer">
  <div>
    <ul id="" class="nav nav-tabs nav-bottom" >
      <li class="<%= @home ? 'active_page_bottom' : ''%>"><%= link_to 'Home', root_path %></li>
      <li class="<%= @about_us ? 'active_page_bottom' : ''%>"><%= link_to 'About Us', static_pages_about_us_path %></li>
      <li class="<%= @leadership ? 'active_page_bottom' : ''%>"><%= link_to 'Leadership', static_pages_leadership_path %></li>
      <li class="<%= @principles ? 'active_page_bottom' : ''%>"><%= link_to 'Principles',  static_pages_principles_path %></li>
      <li class="<%= @action ? 'active_page_bottom' : ''%>"><%= link_to 'Action', static_pages_action_path %></li>
      <li class="<%= @studies ? 'active_page_bottom' : ''%>"><%= link_to 'Studies', static_pages_studies_path %></li>
      <li class="<%= @resources ? 'active_page_bottom' : ''%>"><%= link_to 'Resources', static_pages_resources_path %></li>
      <li class="<%= @partners ? 'active_page_bottom' : ''%>"><%= link_to 'Partners', static_pages_partners_path %></li>
      <li class="<%= @news ? 'active_page_top' : ''%>"><%= link_to 'News', static_pages_news_path %></li>
      <li class="<%= @fiduciary_guide ? 'active_page_bottom' : ''%>"><%= link_to 'Fiduciary Guide', fiduciaryguide_path %></li>
    </ul>
  </div>

  <div class="social_bar">
    <a href="https://www.linkedin.com" title="Linked In"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
    <a href="https://twitter.com/DAMInitiative" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
    <%= mail_to "sfoxx@rabengroup.com" , class:"" do %>
      <i class="fa fa-envelope-square fa-2x"></i>
    <% end %>
  </div>

  <div class="copyright">
    © 2017 DIVERSE ASSET MANGERS INITIATIVE
  </div>

</div>
