<div class="row" id="nav_partial">
  <ul class="nav nav-tabs">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Studies', static_pages_studies_path %></li>
    <li><%= link_to 'Directory',  static_pages_directory_path %></li>
    <li><%= link_to 'Issues', static_pages_issues_path %></li>
    <li><%= link_to 'Partnership', static_pages_partnership_path %></li>
    <li><%= link_to 'Support', static_pages_support_path %></li>
    <li><%= link_to 'About', static_pages_about_path %></li>
  </ul>
</div>
