<div class="row" id="nav_partial">
  <ul class="nav nav-tabs">
    <li><%= link_to 'HOME', root_path %></li>
    <li><%= link_to 'Background', static_pages_background_path %></li>
      <li><%= link_to 'About', static_pages_about_path %></li>
    <li><%= link_to 'Principles',  static_pages_principles_path %></li>
    <li><%= link_to 'Action', static_pages_action_path %></li>
    <li><%= link_to 'Studies', static_pages_studies_path %></li>
    <li><%= link_to 'Directory', static_pages_directory_path %></li>
  </ul>
</div>
